body {
    background-image: url("../images/backgroundadmin.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.header__title {
    font-family: 'Faster One', display;
    color: #158CBA;
}

input[type="radio"].radio {
    display : none;
}

input[type="radio"].radio:checked + .driver{
    background-color: #ff0000;
    color: #fff;
  }

input::placeholder {
    text-align: center;
}


