body {
    text-align: center;
    height: 100vh;
    overflow: auto;
}

input[type="radio"].radio {
    display : none;
}

input[type="radio"].radio:checked + .driver{
    background-color: #ff0000;
    color: #fff;
    /* border-radius : 5%; */
  }


input::placeholder {
    text-align: center;
}

.header__title {
    font-family: 'Faster One', display;
    color: #158CBA;
}

.main {
    background-image: url("../images/backgroundadmin.jpg");
    background-size: cover;
}